#Base
PROJECT_NAME=transactions

# Database
POSTGRES_USER          = postgres
POSTGRES_PASSWORD      = choice
POSTGRES_HOST          = db
HOST_POSTGRES_PORT     = 5433
POSTGRES_PORT          = 5432
POSTGRES_DB            = transactions

# Backend
HOST_BACKEND_PORT      = 8080
BACKEND_PORT           = 8080